<% user = User.find(tweet.user_id) %>
<div class="<%= (current_user.mentioned?(tweet) ? 'timeline-mention' : 'timeline-tweet') %>">
  <table class="tweet-table">
    <tr>
      <td><%= image_tag user.avatar(:thumb), class: "avatar-image" %></td>
      <td>
        <strong>
          <%= link_to "@#{user.handle}", user_show_path(user) %>
        </strong> :
        <%= tweet.created_at.to_s %></td>
    </tr>
    <tr>
      <td></td>
      <td class="tweet-table-content"><%= tweet.content %></td>
    </tr>
  </table>
</div>
