<div id="following-index" style="display: none;"></div>
<div class="row">
  <div class="col-md-3 ui-box">
    <div class="dashboard-user-stats">
      <%= render('layouts/user/userstats', user: @user) %>
    </div>
  </div>

  <div class="col-md-3 ui-box">
    <h3>@<%= @user.handle %> is following:</h3>

    <% @following.each do |friend| %>
      <%= render('layouts/relations/usershow', user: friend) %>
    <% end %>
  </div>

  <div class="col-md-3 ui-box">
    <h3>@<%= @user.handle %>'s followers:</h3>
    <% @followers.each do |friend| %>
      <%= render('layouts/relations/usershow', user: friend) %>
    <% end %>
  </div>

  <div class="clearfix visible-md-block"></div>
</div>
