<div class="row">
  <div class="col-md-3 ui-box">
    <div class="dashboard-user-stats">
      <%= render('layouts/user/userstats', user: @user) %>
    </div>
  </div>

  <div class="col-md-4 ui-box">
    <% if !@user.any_tweets? %>
      <h3>@<%= @user.handle %> has no tweets yet</h3>
    <% else %>
      <% @user.tweets.each do |tweet| %>
        <%= render('layouts/dashboard/tweet', tweet: tweet) %>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-3 ui-box">
    <%= image_tag @user.avatar(:medium), class: "avatar-image" %>
    <h3>@<%= @user.handle %>'s bio:</h3>
    <p><%= @user.bio %></p>
    <div id="follow-unfollow-button">
      <%= render('layouts/user/follow_button', user: @user) %>
    </div>
  </div>

  <div class="clearfix visible-md-block"></div>
</div>
