<p class="lead">
  <% user = current_user if user == nil %>
  <%= image_tag user.avatar(:thumb), class: 'avatar-image' %>
  <%= link_to "@#{user.handle}", user_show_path(user) %>
</p>
<table class="table">
  <thead>
    <th>Tweets</th>
    <th>Following</th>
    <th>Followers</th>
  </thead>
  <tr>
    <td id="user-tweets-count"><%= user.tweets.count %></td>
    <td id="user-followed-users-count"><%= user.followed_users.count %></td>
    <td id="user-followers-count"><%= user.followers.count %></td>
  </tr>
</table>
