<p class="lead">
  <% user = current_user if user == nil %>
  <%= image_tag user.avatar, class: 'avatar-image' %>
  @<%= user.handle %>
</p>
<table class="table">
  <thead>
    <th>Tweets</th>
    <th>Following</th>
    <th>Followers</th>
  </thead>
  <tr>
    <td><%= user.tweets.count %></td>
    <td><%= user.followed_users.count %></td>
    <td><%= user.followers.count %></td>
  </tr>
</table>
