<!DOCTYPE html>
<html>
<head>
  <title>Twitter++</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
    <%= render('layouts/navbar') %>
  </div>

  <div class="container-fluid">
    <div class="container-fluid">
      <p class="notice flash-msg"><br /><br /><%= flash[:notice] %></p>
      <p class="alert flash-msg"><%= flash[:alert] %></p>
    </div>

    <%= yield %>
  </div>


</body>
</html>
